.container_center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh; /* Optional, for vertical centering */
}

.container_right {
    display: flex;
    justify-content: flex-end; /* To align items to the right */
    align-items: flex-end; /* To align items to the right within the column */
}