.container_center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh; /* Optional, for vertical centering */
}

.item_onecol{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_right {
    display: flex;
    justify-content: flex-end; /* To align items to the right */
    align-items: flex-end; /* To align items to the right within the column */
}

.link_right{
    display: flex;
    padding: 10px;
}

.item_search{
    display: flex;
    padding: 5px;
}

.button_search{
    display: flex;
    padding: 5px;
    align-items:center;
}

.advanced_button_search{
    display: flex;
    padding: 5px;
    align-items:right;
}

.item_left{
    display: flex;
    justify-content: flex-start;
    border: 1px solid #000;
    background-color: #FF0000;
}

.item_right{
    display: flex;
    justify-content: flex-end;
    border: 1px solid #000;
    background-color: #0000FF;
}